.form-control-messages {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    display: block;
    color: $brand-red-darker;
    font-size: $font-size-small;
    margin-top: 3px;

    &.success {
      color: $brand-green;
    }
  }
}

.form-messages {
  padding: 0;
  margin: 0;
  
  li {
    background: lighten( $brand-red, 20% );
    display: block;
    padding: 10px;
    border-left: 5px solid $brand-red-darker;
    color: $brand-red-darker;
    
    &.success {
      $green-dark: darken( saturate( $brand-green, 10% ), 30% );
      border-color: $green-dark;
      color: $green-dark;
      background: lighten( $brand-green, 20% );
    }
  }
}

.form-group {
  .description {
    font-size: $font-size-small;
    color: $gray-light;
    margin-top: 5px;
  }
}

.wrap-submit-form {
  background: $gray-lighter;
  padding: ($grid-gutter-width * 2) 0 $grid-gutter-width 0;
}