.brand-logo-text {
  font-family: $brand-logo-font;
  font-size: 3em;
  color: white;
  padding: 7px 10px;

  &:hover {
    text-decoration: none;
  }
}

.brand-logo {
  width: 50px;
  height: auto;
  margin-top: 10px;
  float: left;
}

.topbar {
  background-color: $brand-primary;
  position: relative;
  z-index: 200;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.primary-navigation-wrap {
  position: relative;
}

.primary-navigation {
  position: absolute;
  z-index: 100;
  display: block;
  width: 100%;

  li {
    background-color: $brand-red;

    a {
      padding: 12px 0;
      display: block;
      text-align: center;
      color: white;
      font-weight: bold;
    }

    &:hover, &.active {
      background-color: $brand-red-darker;
    }

    &:first-child {
      border-bottom-left-radius: 15px;
    }

    &:last-child {
      border-bottom-right-radius: 15px;
    }
  }

  @media ( max-width: $screen-xs-max ) {
    position: static;
  }
}