#animal-slideshow {
  position: relative;
  z-index: -1;

  figure {
    position: absolute;
    top: 0;
    width: 100%;

    &:first-child {
      position: relative;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .fade{
    opacity: 1;
  }
  /* The starting CSS styles for the enter animation */
  .fade.ng-enter {
    transition:1s linear all;
    opacity:0;
  }

  /* The finishing CSS styles for the enter animation */
  .fade.ng-enter.ng-enter-active {
    opacity:1;
  }

  /* The starting CSS styles for the leave animation */
  .fade.ng-leave {
    transition: 1s linear all;
    opacity: 1;
  }

  /* The finishing CSS styles for the leave animation */
  .fade.ng-enter.ng-leave-active {
    opacity:0;
  }

  @media ( max-width: $screen-xs-max ) {
    padding: 0;
  }
}