.table-responsive {
  border: none !important;
}

table {
  margin: 100px 0 0 0;

  thead {
    font-weight: bold;
  }

  address {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 0 0;
  }

  .pet-desc {
    border: 5px solid $brand-green;
    border-radius: 15px;
    padding: 10px 15px;
    margin:  0 0 10px 0;
  }

  .item-header td {
    cursor: pointer;
  }

  img {
    @extend .img-responsive;
  }
}

.angular-google-map-container {
  height: 300px;
  width: 400px;
}

address.fade{
  opacity: 1;
}

address.fade.ng-enter{
  opacity: 0;
  transition: 1s linear all;
}

.fade.ng-enter.ng-enter-active {
  opacity:1;
}

address.fade.ng-leave {
  opacity: 1;
  transition: 1s linear all;
}

/* The finishing CSS styles for the leave animation */
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}
