<footer>
  <div class="wrapper bottombar">
    <div class="container">
      <div class="row">
        <div class="column third">
          <span class="copy">&copy; 2015 Petsitting.de</span>
        </div>
        <div class="column two-thirds">
          <nav class="footer-navigation">
            <ul class="invisible-list">
              <li><a>Kontakt</a></li>
              <li><a>Datenschutz</a></li>
              <li><a>Impressum</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>