<header>
  <div class="topbar">
    <div class="container">
      <div class="col-lg-4">
        <img ng-src="img/outline_animals.png">
      </div>
      <div class="col-lg-4">
        <a class="center-block text-center" href="/">
          <span class="brand-logo-text">Petsitting.de</span>
        </a>
      </div>
      <div class="col-lg-4">
        <img class="pull-right" ng-src="img/outline_animals_flipped.png">
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="primary-navigation">
      <ul class="row invisible-list">
        <li class="col-xs-12 col-sm-6"><a href="/submit">Ich habe ein Haustier</a></li>
        <li class="col-xs-12 col-sm-6"><a href="/table">Ich will ein Haustier haben</a></li>
      </ul>
    </nav>
  </div>
</header>