<header>
  <div class="topbar">
    <div class="container no-padding">
      <div class="col-lg-4 hidden-xs">
        <img ng-src="img/outline_animals.png">
      </div>
      <div class="col-xs-12 col-md-4">
        <a class="center-block text-center" href="/">
          <div class="brand-logo">
            <paw-animation></paw-animation>
          </div>
          <span class="brand-logo-text">Petsitting.de</span>
        </a>
      </div>
      <div class="col-lg-4 hidden-xs">
        <img class="pull-right" ng-src="img/outline_animals_flipped.png">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="primary-navigation-wrap">
      <nav class="primary-navigation" ng-controller="PrimaryNavigationController">
        <div class="row">
          <div class="nav-items col-xs-12">
            <ul>
              <li class="col-xs-12 col-sm-6" ng-class="{ active: route.current.activeTab == 'submit' }"><a href="/submit">Ich habe ein Haustier</a></li>
              <li class="col-xs-12 col-sm-6" ng-class="{ active: route.current.activeTab == 'table' }"><a href="/table">Ich will ein Haustier haben</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>