<header>
  <div class="wrapper topbar">
    <div class="container">
      <img class="topbar-img-left" src="img/outline_animals.png">

      <div class="brand-info">
        <a href="/">
          <div class="brand-logo" id="image_paw_container"></div>
          <span class="brand-stroke">Petsitting.de</span>
        </a>
      </div>
      <img class="topbar-img-right" src="img/outline_animals_flipped.png">
    </div>
  </div>
  <div class="container">
    <nav class="primary-navigation">
      <ul class="row invisible-list">
        <li class="col-xs-12 col-sm-6"><a href="/submit">Ich habe ein Haustier</a></li>
        <li class="col-xs-12 col-sm-6"><a href="/table">Ich will ein Haustier haben</a></li>
      </ul>
    </nav>
  </div>
</header>