<div class="col-xs-12 col-sm-6">
  <h2>Angaben zu deinem Tier</h2>

  <div class="form-group" error-classes="submitForm.animalName">
    <label for="animal-name">Tiername</label>
    <input type="text" id="animal-name" name="animalName" class="form-control" ng-model="model.animalName" required/>
    <form-control-messages input="submitForm.animalName"></form-control-messages>
  </div>

  <div class="form-group" error-classes="submitForm.animalType">
    <label for="animal-type">Tier-Art</label>
    <select id="animal-type" name="animalType" ng-model="model.animalType" class="form-control" required>
      <option ng-repeat="(key, caption) in animalTypes" value="{{key}}">{{caption}}</option>
    </select>
    <form-control-messages input="submitForm.animalType"></form-control-messages>
  </div>

  <div class="form-group" error-classes="submitForm.animalBreed">
    <label for="animal-breed">Tier-Rasse <small>(optional)</small></label>
    <input type="text" id="animal-breed" name="animalBreed" ng-model="model.animalBreed" class="form-control" />
    <form-control-messages input="submitForm.animalBreed"></form-control-messages>
  </div>

  <div class="form-group" error-classes="submitForm.animalAge">
    <label for="animal-age">Alter des Tieres <small>(optional)</small></label>
    <input type="number" min="1" max="100" step="1" id="animal-age" ng-model="model.animalAge" name="animalAge" class="form-control" />
    <form-control-messages input="submitForm.animalAge"></form-control-messages>
  </div>

  <div class="form-group">
    <input type="submit" class="button button-green button-large button-block rounded" value="Tier einstellen"/>
  </div>
</div>