<div class="col-xs-12 col-sm-6">
  <h2>Angaben zur Verleihung</h2>

  <div class="form-group" error-classes="submitForm.ownerFirstName">
    <label for="owner-first-name">Vorname</label>
    <input type="text" id="owner-first-name" name="ownerFirstName" class="form-control" ng-model="model.ownerFirstName" required />
    <form-control-messages input="submitForm.ownerFirstName"></form-control-messages>
  </div>

  <div class="form-group" error-classes="submitForm.ownerLastName">
    <label for="owner-last-name">Nachname</label>
    <input type="text" id="owner-last-name" name="ownerLastName" class="form-control" ng-model="model.ownerLastName" required/>
    <form-control-messages input="submitForm.ownerLastName"></form-control-messages>
  </div>

  <div class="form-group" error-classes="submitForm.ownerEmail">
    <label for="owner-email">E-Mail-Adresse</label>
    <input type="email" id="owner-email" name="ownerEmail" class="form-control" ng-model="model.ownerEmail" required/>
    <form-control-messages input="submitForm.ownerEmail"></form-control-messages>
  </div>

  <div class="form-group" error-classes="submitForm.ownerPhone">
    <label for="owner-phone">Telefon</label>
    <input type="tel" id="owner-phone" name="ownerPhone" class="form-control" ng-model="model.ownerPhone" required/>
    <form-control-messages input="submitForm.ownerPhone"></form-control-messages>
  </div>

  <div class="form-group" error-classes="submitForm.street">
    <label for="street">Straße <small>inkl. Hausnummer</small></label>
    <input type="text" id="street" name="street" pattern=".* [0-9]+[a-z]?" class="form-control" ng-model="model.street" required />
    <form-control-messages input="submitForm.street">
      <li ng-message="pattern">Bitte geben Sie einen Straßennamen und eine Hausnummer durch ein Leerzeichen getrennt an.</li>
    </form-control-messages>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div class="form-group" error-classes="submitForm.zipCode">
        <label for="zip-code">PLZ</label>
        <input type="number" id="zip-code" name="zipCode" min="01001" max="99998" class="form-control" ng-model="model.zipCode" required/>
        <form-control-messages input="submitForm.zipCode">
          <li ng-message="min">Die PLZ darf nicht kleiner als 1001 sein.</li>
          <li ng-message="max">Die PLZ darf nicht größer als 99998 sein.</li>
        </form-control-messages>
      </div>
    </div>

    <div class="col-xs-8">
      <div class="form-group" error-classes="submitForm.city">
        <label for="city">Stadt</label>
        <input type="text" id="city" name="city" class="form-control" ng-model="model.city" required />
        <form-control-messages input="submitForm.city"></form-control-messages>
      </div>
    </div>
  </div>

  <div class="form-group" error-classes="submitForm.dateStart">
    <label for="date-start">Startdatum</label>
    <input type="date" id="date-start" name="dateStart" ng-model="model.dateStart" class="form-control" min="{{now | date: 'yyyy-MM-dd'}}" required />
    <form-control-messages input="submitForm.dateStart">
      <li ng-message="min">Das Startdatum muss in der Zukunft liegen.</li>
    </form-control-messages>
  </div>

  <div class="form-group" error-classes="submitForm.dateEnd">
    <label for="date-end">Enddatum</label>
    <input type="date" id="date-end" name="dateEnd" ng-model="model.dateEnd" class="form-control" min="{{now | date: 'yyyy-MM-dd'}}" required />
    <form-control-messages input="submitForm.dateEnd">
      <li ng-message="min">Das Enddatum muss in der Zukunft liegen.</li>
    </form-control-messages>
  </div>
</div>
