// Colors
$brand-red:         rgb(255, 60, 60);
$brand-red-darker:  rgb(200, 20, 20);
$brand-orange:      #FFBD67;
$brand-yellow:      #F8FE85;
$brand-green:       #5BE7A9;

$brand-primary:     $brand-red;

// Fonts
$brand-logo-font:   Lobster;
$font-size-base:    16px;

// Grid
$grid-gutter-width: 15px;
$container-large-desktop: (1024px + $grid-gutter-width);