// Colors
$brand-red:     rgb(255, 60, 60);
$brand-orange:  #FFBD67;
$brand-yellow:  #F8FE85;
$brand-green:   #5BE7A9;

$brand-primary: $brand-red;

// Fonts
$brand-logo-font: Lobster;

// Grid
$container-width-lg: 1024px;