// Colors
$brand-red:         rgb(255, 60, 60);
$brand-red-darker:  rgb(200, 20, 20);
$brand-orange:      rgb(255, 200, 80);
$brand-yellow:      #F8FE85;
$brand-green:       rgb(0, 204, 102);

$brand-primary:     $brand-red;

// Fonts
$brand-logo-font:   Lobster;
$font-size-base:    16px;
$font-family-base:  'Open Sans', sans-serif;

// Grid
$grid-gutter-width: 30px;
$container-large-desktop: (1024px + $grid-gutter-width);