<div class="container">
  <div class="row">
    <div class="col-lg-12 no-padding" id="animal-slideshow" ng-controller="SlideShowController">
      <figure ng-if="$index == counter" ng-repeat="image in images" class="fade">
        <img ng-src="{{image.path}}"/>
      </figure>
    </div>
  </div>
</div>
<div class="wrapper-front-page-content">
  <div class="container">
    <div class="row">
      <section class="col-xs-12 col-sm-6">
        <div class="opener green">
          Hast du ein Haustier und brauchst jemanden der für eine gewisse Zeit darauf aufpasst? Oder suchst du
          jemanden der Zeit mit dem Tier verbringen möchte? Sei es zum Spielen, Gassi gehen oder Füttern, hier wirst
          du sicher fündig werden! Fülle einfach schnell und ohne Anmeldung unser Online-Formular aus!
        </div>
        <a href="submit.html" type="button" class="btn btn-lg btn-block btn-green">Anbieten</a>
      </section>

      <section class="col-xs-12 col-sm-6">
        <div class="opener orange">
          Du bist ein Tierfreund, kannst aber selber kein Tier haben? Du willst trotzdem regelmäßig oder auch nur
          kurzzeitig Zeit mit Tieren verbringen? Sei es nur abundzu Gassi gehen oder füttern, viele Tierbesitzer
          brauchen eine kleine Urlaubsvertretung oder eine helfende Hand wärend der Arbeitszeit.
        </div>
        <a href="table.html" type="button" class="btn btn-lg btn-block btn-orange">Suchen</a>
      </section>
    </div>
  </div>
</div>