<div class="container" id="animal-slideshow-container">
  <figure>
    <img src="img/slideshow-dog.jpg" />
  </figure>
  <figure>
    <img src="img/sliedshow-guineapig.jpg" />
  </figure>
  <figure>
    <img src="img/slideshow-cat.jpg" />
  </figure>
  <figure>
    <img src="img/slideshow-rabbit.jpg" />
  </figure>
  <figure>
    <img src="img/slideshow-dog2.jpg" />
  </figure>
</div>
<div class="wrapper-front-page-content">
  <div class="container clearfix">
    <div class="row">
      <section class="column half gutter opener-box">
        <div class="rounded opener left">
          <p>Hast du ein Haustier und brauchst jemanden der für eine gewisse Zeit darauf aufpasst? Oder suchst du
            jemanden der Zeit mit dem Tier verbringen möchte? Sei es zum Spielen, Gassi gehen oder Füttern, hier wirst
            du sicher fündig werden! Fülle einfach schnell und ohne Anmeldung unser Online-Formular aus!</p>
        </div>
        <a href="submit.html" type="button" class="button button-green button-large button-block rounded">Anbieten</a>
      </section>

      <section class="column half gutter opener-box">
        <div class="rounded opener right">
          <p>Du bist ein Tierfreund, kannst aber selber kein Tier haben? Du willst trotzdem regelmäßig oder auch nur
            kurzzeitig Zeit mit Tieren verbringen? Sei es nur abundzu Gassi gehen oder füttern, viele Tierbesitzer
            brauchen eine kleine Urlaubsvertretung oder eine helfende Hand wärend der Arbeitszeit.</p>
        </div>
        <a href="table.html" type="button" class="button button-yellow button-large button-block rounded">Suchen</a>
      </section>
    </div>
    <img src="img/center_animals.png" class="content-image-center" alt="happy animals" align="middle">
  </div>
</div>