<section class="wrap-submit-form" ng-controller="SubmitController">
  <div class="container">
    <form name="submitForm" ng-submit="save()" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <ul class="form-messages" ng-messages="messages">
            <li class="success" ng-message="saved">Ihre Daten wurden erfolgreich gespeichert.</li>
            <li ng-message="dataInvalid">Die eingegebenen Daten sind ungültig.</li>
            <li ng-message="unknownError">Beim Speichern Ihrer Daten ist ein unbekannter Fehler aufgetreten. Bitte versuchen Sie es später erneut.</li>

            <li ng-message="firstNameMissing">Geben Sie bitte Ihren Vornamen an.</li>
            <li ng-message="firstNameNotAString">Der Vorname muss aus einer Zeichenkette bestehen.</li>
            <li ng-message="firstNameStringTooShort">Bitte geben Sie einen Vornamen mit mindestens zwei Zeichen an</li>
            <li ng-message="firstNameStringTooLong">Bitte geben Sie einen Vornamen mit höchstens 64 Zeichen an</li>

            <li ng-message="lastNameMissing">Geben Sie bitte Ihren Nachnamen an.</li>
            <li ng-message="lastNameNotAString">Der Nachname muss aus einer Zeichenkette bestehen.</li>
            <li ng-message="lastNameStringTooShort">Bitte geben Sie einen Nachnamen mit mindestens zwei Zeichen an</li>
            <li ng-message="lastNameStringTooLong">Bitte geben Sie einen Nachnamen mit höchstens 64 Zeichen an</li>

            <li ng-message="emailMissing">Geben Sie bitte Ihre E-mail Adresse an.</li>
            <li ng-message="emailFormatInvalid">Bitte geben Sie eine gültige E-mail Adresse an.</li>

            <li ng-message="phoneMissing">Geben Sie bitte Ihre Telefonnummer an.</li>
            <li ng-message="phoneNotAString">Die Telefonnummer muss aus einer Zeichenkette bestehen.</li>
            <li ng-message="phoneStringTooShort">Bitte geben Sie eine Telefonnummer mit mindestens 3 Zeichen an</li>
            <li ng-message="phoneStringTooLong">Bitte geben Sie eine Telefonnummer mit höchstens 16 Zeichen an</li>

            <li ng-message="streetMissing">Geben Sie bitte Ihre Adresse an.</li>
            <li ng-message="streetNotAString">Die Adresse muss aus einer Zeichenkette bestehen.</li>
            <li ng-message="streetStringTooShort">Bitte geben Sie eine Adresse mit mindestens fünf Zeichen an</li>
            <li ng-message="streetStringTooLong">Bitte geben Sie eine Adresse mit höchstens 64 Zeichen an</li>
            <li ng-message="streetStringFormatInvalid">Bitte geben Sie einen Straßennamen und eine Hausnummer durch ein Leerzeichen getrennt an.</li>

            <li ng-message="zipCodeMissing">Geben Sie bitte Ihre PLZ an.</li>
            <li ng-message="zipCodeNotAnInt">Die PLZ muss aus ganzen Zahlen bestehen.</li>
            <li ng-message="zipCodeIntTooSmall">Die kleinstmögliche PLZ ist 1001</li>
            <li ng-message="zipCodeIntTooBig">Die größtmögliche PLZ ist 9998</li>

            <li ng-message="cityMissing">Geben Sie bitte Ihren Wohnort an.</li>
            <li ng-message="cityNotAString">Der Wohnort muss aus einer Zeichenkette bestehen.</li>
            <li ng-message="cityStringTooShort">Bitte geben Sie einen Wohnort mit mindestens zwei Zeichen an</li>
            <li ng-message="cityStringTooLong">Bitte geben Sie einen Wohnort mit höchstens 64 Zeichen an</li>

            <li ng-message="dateStartMissing">Geben Sie bitte ein Startdatum an.</li>
            <li ng-message="dateStartDateFormatInvalid">Geben Sie bitte ein Startdatum nach dem Muster YYYY-MM-DD an.</li>
            <li ng-message="dateStartDateInvalid">Geben Sie bitte ein gültiges Startdatum an.</li>
            <li ng-message="dateStartIsInPast">Das Startdatum darf nicht in der Vergangenheit liegen.</li>

            <li ng-message="dateEndMissing">Geben Sie bitte ein Enddatum an.</li>
            <li ng-message="dateEndDateFormatInvalid">Geben Sie bitte ein Enddatum nach dem Muster YYYY-MM-DD an.</li>
            <li ng-message="dateEndDateInvalid">Geben Sie bitte ein gültiges Enddatum an.</li>
            <li ng-message="dateEndIsInPast">Das Enddatum darf nicht in der Vergangenheit liegen.</li>

            <li ng-message="animalnameMissing">Geben Sie bitte den Namen des Tieres an.</li>
            <li ng-message="animalNameNotAString">Der Tiername muss aus einer Zeichenkette bestehen.</li>
            <li ng-message="animalNameStringTooShort">Bitte geben Sie einen Tiernamen mit mindestens zwei Zeichen an.</li>
            <li ng-message="animalNameStringTooLong">Bitte geben Sie einen Tiernamen mit höchstens 64 Zeichen an.</li>

            <li ng-message="animalTypeMissing">Geben Sie bitte die Tier-Art des Tieres an.</li>
            <li ng-message="animalTypeNotAString">Die Tier-Art muss aus einer Zeichenkette bestehen.</li>
            <li ng-message="animalTypeStringTooShort">Bitte geben Sie einen Tier-Art mit mindestens zwei Zeichen an.</li>
            <li ng-message="animalTypeStringTooLong">Bitte geben Sie einen Tier-Art mit höchstens 64 Zeichen an.</li>

            <li ng-message="animalBreedNotAString">Die Tier-Rasse muss aus einer Zeichenkette bestehen.</li>
            <li ng-message="animalBreedStringTooShort">Bitte geben Sie einen Tier-Rasse mit mindestens zwei Zeichen an.</li>
            <li ng-message="animalBreedStringTooLong">Bitte geben Sie einen Tier-Rasse mit höchstens 64 Zeichen an.</li>

            <li ng-message="animalAgeNotAnInt">Das Alter des Tieres muss aus ganzen Zahlen bestehen.</li>
            <li ng-message="animalAgeIntTooSmall">Noch nicht geborene Tiere können leider nicht verliehen werden.</li>
            <li ng-message="animalAgeIntTooBig">Dein Tier ist leider zu alt, um es zu verleihen. Das höchste akzeptierte Alter beträgt 100 Jahre</li>

            <li ng-message="descriptionNotAString">Die Beschreibung muss aus einer Zeichenkette bestehen.</li>
            <li ng-message="descriptionStringTooLong">Der Beschreibungstext darf nicht länger als 512 Zeichen sein.</li>

            <li ng-message="unknownError">Ein unbekannter Fehler ist aufgetreten. Bitte versuchen Sie es später erneut.</li>
            <li ng-message="serverError">Ein Server-Fehler ist aufgetreten, bitte versuchen Sie es später erneut.</li>
            <li ng-message="dateRangeInverted">Das Enddatum muss hinter dem Startdatum liegen.</li>
          </ul>
          <loading-animation ng-if="messages.loading"></loading-animation>
        </div>
      </div>

      <div class="row">
        <ng-include src="'layout/submit/column-1.html'"></ng-include>
        <ng-include src="'layout/submit/column-2.html'"></ng-include>
      </div>
    </form>
  </div>
</section>