<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped" class="rounded" ng-controller="GoogleMapsController">
        <thead>
        <tr>
          <th>Vorname</th>
          <th>Name</th>
          <th>Stadt</th>
          <th>Zeitraum</th>
          <th>Tier</th>
          <th>Rasse</th>
          <th>Tiername</th>
          <th>Tieralter</th>
          <th><!-- operations --></th>
        </tr>
        </thead>
        <tbody>
        <tr class="short-info">
          <td>Dennis</td>
          <td>Ritter</td>
          <td>Berlin</td>
          <td>29/10/15 - 5/11/15</td>
          <td>Hund</td>
          <td>Husky</td>
          <td>Lucky</td>
          <td>7</td>
          <td>
            <a href="submit.html"><i class="fa fa-edit"></i></a>
            <a><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        <tr class="hide-additional-info">
          <td colspan="4">
            <div class="google-map-container">
              <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
            </div>
          </td>
          <td colspan="5">
            <div class="col-lg-4" colspan="2">
              <img src="img/husky.jpg" class="img-rounded"/>
              <address>
                <ul>
                  <li>Dennis Ritter</li>
                  <li>Richardplatz 16</li>
                  <li>12059 Berlin</li>
                </ul>
              </address>
            </div>
            <div class="col-lg-8 pull-right" colspan="3">
              <div class="pet-desc">
                <p>Der Lucky ist ein ganz Toller. lorem ipsum set etiam est. blabla und noch mehr, weil ich mehr Text
                  brauche schreibe ich noch etwas für das schöne Tier. Den Rest mit dem Beißen und so findet ihr am Besten
                  selbst heraus </p>
              </div>
              <button type="button" class="btn btn-green btn-block">
                Kontakt aufnehmen
              </button>
              <address>
                <ul>
                  <li>015735309599</li>
                  <li>dennis.r.ritter@gmail.com</li>
                </ul>
              </address>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>