<div class="container">
  <div class="table-responsive">
    <table class="table table-striped" ng-controller="TableController">
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Name</th>
          <th>Stadt</th>
          <th>Zeitraum</th>
          <th>Tier</th>
          <th>Rasse</th>
          <th>Tiername</th>
          <th>Tieralter</th>
          <th><!-- operations --></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="user in users" ng-click="toggleDetails($index)">
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.city}}</td>
          <td>{{user.dateStart | date : 'short'}} - {{user.dateEnd | date : 'short'}}</td>
          <td>{{user.animalType}}</td>
          <td>{{user.animalBreed}}</td>
          <td>{{user.animalName}}</td>
          <td>{{user.animalAge}}</td>
          <td>
            <a href="/submit"><i class="fa fa-edit"></i></a>
            <a><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        <tr ng-if="activeRow == $index" ng-repeat-end>
          <td colspan="9">
            <div class="row">
              <div class="col-xs-12 col-sm-5">
                <ui-gmap-google-map center="user.position" zoom="map.zoom">
                  <ui-gmap-marker idKey="user.id" coords="user.position"></ui-gmap-marker>
                </ui-gmap-google-map>
              </div>
              <div class="col-xs-12 col-sm-2">
                <img src="/img/husky.jpg" class="img-rounded"/>
                <address>
                  <ul>
                    <li>{{user.firstName}} {{user.lastName}}</li>
                    <li>{{user.street}}</li>
                    <li>{{user.zipCode}} {{user.city}}</li>
                  </ul>
                </address>
              </div>
              <div class="col-xs-12 col-sm-5">
                <div class="pet-desc">
                  <p>{{user.description}}</p>
                </div>
                <button type="button" class="btn btn-green btn-block">Kontakt aufnehmen</button>
                <address>
                  <ul>
                    <li>{{user.phone}}</li>
                    <li>{{user.email}}</li>
                  </ul>
                </address>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>