<div class="container">
  <div class="row">
    <table class="table table-striped" ng-controller="TableController">
      <thead>
      <tr>
        <th>Vorname</th>
        <th>Name</th>
        <th>Stadt</th>
        <th>Zeitraum</th>
        <th>Tier</th>
        <th>Rasse</th>
        <th>Tiername</th>
        <th>Tieralter</th>
        <th><!-- operations --></th>
      </tr>
      </thead>
      <tbody ng-repeat="user in users">
        <tr>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.city}}</td>
          <td>{{user.dateStart | date : 'short'}} - {{user.dateEnd | date : 'short'}}</td>
          <td>{{user.animalType}}</td>
          <td>{{user.animalBreed}}</td>
          <td>{{user.animalName}}</td>
          <td>{{user.animalAge}}</td>
          <td>
            <a href="submit.html"><i class="fa fa-edit"></i></a>
            <a><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div>
              <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
            </div>
          </td>
          <td colspan="5">
            <div class="col-lg-4" colspan="2">
              <img src="img/husky.jpg" class="img-rounded"/>
              <address>
                <ul>
                  <li>{{user.firstName}} {{user.lastName}}</li>
                  <li>{{user.street}}</li>
                  <li>{{user.zipCode}} {{user.city}}</li>
                </ul>
              </address>
            </div>
            <div class="col-lg-8 pull-right" colspan="3">
              <div class="pet-desc">
                <p>{{user.description}}</p>
              </div>
              <button type="button" class="btn btn-green btn-block">
                Kontakt aufnehmen
              </button>
              <address>
                <ul>
                  <li>{{user.phone}}</li>
                  <li>{{user.email}}</li>
                </ul>
              </address>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>